@import './fonts.css';

:root {
	--background-gray: #F8F7F5;
	--background-asset-selector: #FCFCFB;
	--border-gray: rgba(151, 151, 151, 0.10);
	--border-assets: rgba(73, 73, 74, 0.10);
	--border-assets-item: #FAFAFA;
	--scroll-color: #E9E9E8;
	--text-black: #49494A;
	--baseline: 4px;
	--border-radius: calc(var(--baseline) * 1);
}

icon {
	display: inline;
	margin: 0;
	padding: 0;
	border: 0;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	border-radius: var(--border-radius);
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

body {
	background: var(--background-gray);
}

.Direct-Modal {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Direct-Content-Frame {
	font-family: 'Montserrat', sans-serif;
	font-size: calc(var(--baseline) * 4);
	font-style: normal;
	font-weight: 400;
	width: calc(var(--baseline) * 125);
	height: calc(var(--baseline) * 120);

	background: white;
	border: 2px solid var(--border-gray);
	border-radius: var(--border-radius);
	box-shadow: 0 0 calc(var(--baseline) * 4) 1px rgba(0, 0, 0, 0.15);

	overflow: hidden;
}

.Direct-Header {
	display: flex;
	align-items: center;
	justify-content: center;

	height: calc(var(--baseline) * 14);
	color: var(--text-black);
	border-top: 1px solid var(--border-gray);

	letter-spacing: calc(var(--baseline) * 0.4);;
}

.Direct-Asset-Selector {
	height: calc(var(--baseline) * 62);
	background: var(--background-asset-selector);
	border-top: 2px solid var(--border-gray);
	padding: calc(var(--baseline) * 6);
}

.Direct-Assets {
	display: inline-block;

	width: calc(var(--baseline) * 48);
	height: calc(var(--baseline) * 49);

	background: white;

	border: 1px solid var(--border-assets);
	border-radius: var(--border-radius);
}

.Direct-Asset-List {
	list-style-type: none;

	height: 100%;
	display: block;
	overflow-x: hidden;
	overflow-y: scroll;
}

.Direct-Asset-List-Item {
	font-family: 'Open Sans', sans-serif;
	font-size: calc(var(--baseline) * 3);
	font-weight: 600;
	letter-spacing: 1.34px;
	line-height:calc(var(--baseline) * 5);

	color: rgba(0,0,0,0.7);

	padding: calc(var(--baseline) * 2) calc(var(--baseline) * 3);
}

.Direct-Asset-List-Item:hover {
	cursor: pointer;
}

.Direct-Asset-List-Item:not(:first-child) {
	border-top: 1px solid var(--border-assets-item);
}

.Direct-Asset-List-Item.Direct-Modifier--selected {
	background: rgba(233,233,232,0.15);
}

.Direct-Asset-List-Item:not(:first-child).Direct-Modifier--selected {
	border-top: 2px solid var(--border-gray);
}

.Direct-Asset-List-Item:first-child.Direct-Modifier--selected {
	border-bottom: 1px solid var(--border-gray);
}


.Direct-Modifier--uppercase {
	text-transform: uppercase;
}

.Direct-Modifier--no-border {
	border: none;
}

.Direct-Modifier--left {
	float: left;
}

.Direct-Modifier--right {
	float: right;
}

.Direct-Modifier--selected {

}